## Introduction

Credit scoring dùng để  tham khảo cho việc xét duyệt trước khi cho vay. Nhiệm vụ đặt ra xây dựng thuật toán ML phân loại hai nhóm khách hàng này.

## Description data

- loan_status: Trạng thái khoản vay (Bad nếu *Charged Off* hoặc *Default*,  Good nếu *Fully Paid*)  
- loan_amnt:   Tổng số tiền của khoản vay  
- int_rate: Lãi suất khoản vay  
- grade: Hạng công việc  
- emp_length: Thời gian làm việc  
- home_ownership: Loại hình sở hữu nhà  
- annual_inc: Tổng thu nhập hằng năm  
- term: Kì hạn vay

In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [3]:
display(train.head())

,loan_status,loan_amnt,int_rate,grade,emp_length,home_ownership,annual_inc,term
0,Fully Paid,6000.0,9.76,B,4 years,RENT,33000.0,36 months
1,Fully Paid,19700.0,6.62,A,5 years,RENT,45000.0,36 months
2,Fully Paid,14000.0,6.03,A,< 1 year,MORTGAGE,75000.0,36 months
3,Fully Paid,21000.0,13.11,B,2 years,RENT,51000.0,36 months
4,Charged Off,4500.0,16.29,D,2 years,MORTGAGE,96000.0,36 months

In [4]:
display(test.head())

,loan_status,loan_amnt,int_rate,grade,emp_length,home_ownership,annual_inc,term
0,Fully Paid,9525.0,6.62,A,2 years,RENT,60000.0,36 months
1,Charged Off,17325.0,11.14,B,1 year,MORTGAGE,54000.0,36 months
2,Fully Paid,7000.0,8.49,A,5 years,RENT,118000.0,36 months
3,Fully Paid,10000.0,16.24,C,10+ years,MORTGAGE,150000.0,60 months
4,Fully Paid,9600.0,12.12,B,8 years,RENT,120000.0,36 months

## Evaluation

Đánh giá hiệu suất model dựa trên hệ số [Gini](https://en.wikipedia.org/wiki/Gini_coefficient)